# Problems using Data Preprocessing

Estimate the total compensation to be provided to an employee

Imagine you are working as a data scientist in a big organization which has thousands of employees. The HR department is planning to provide some additional compensation to each working employee which needs to be calculated by looking at the profile of each employee and the benefits they are getting. 

The HR department asks your help if you can use your data science and machine learning skills and calculate an estimated ‘Total Compensation’ for each employee.



Data Description

﻿OGC: Organization Group Code - Org Group is a group of Departments. For example, the Public Protection Org Group includes departments such as the Police, Fire, Adult Probation, District Attorney, and Sheriff.

OG: Organization Group names

DC: Department Code - Departments are the primary organizational unit used by the City and County of San Francisco. Examples include Recreation and Parks, Public Works, and the Police Department.

Dept: Department name

UC: Union Code - Unions represent employees in collective bargaining agreements. A job belongs to one union, although some jobs are unrepresented (usually temporarily).

Union: Union names

JF: Job Family - Job Family combines similar Jobs into meaningful groups.

Job: Job name

EI: Employee Identifier

Salaries: Salary of the employee

Overtime: Amounts paid to City employees working in excess of 40 hours per week. 

H/D: Health/Dental - City-paid premiums to health and dental insurance plans covering City employees. To protect confidentiality as legally required, pro-rated citywide averages are presented in lieu of employee-specific health and dental benefits. 

YT: Year Type - Fiscal (July through June) or Calendar (January through December)

Total_Compensation: The final compensation i.e. the sum of all salaries and benefits paid to City employees.



Dataset Link: https://drive.google.com/file/d/1mSkKEe0SUJ7AZHiubxKSke7HWf75JA_Z/view?usp=sharing

## Import Libraries:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings("ignore")

## Load the data:

In [45]:
data = pd.read_csv("train_set.csv")
data.head()

,Year,OGC,OG,DC,Dept,UC,Union,JF,Job,EI,Salaries,Overtime,H/D,YT,Total_Compensation
0,2015,4,Community Health,DPH,Public Health,250,"SEIU - Health Workers, Local 1021",Med Therapy & Auxiliary,Morgue Attendant,6725,12196,0,0.00,Calendar,16158
1,2013,4,Community Health,DPH,Public Health,39,"Stationary Engineers, Local 39",Journeyman Trade,Stationary Engineer,25058,74639,2820,12703.31,Fiscal,115784
2,2015,6,General Administration & Finance,ASR,Assessor/Recorder,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Appraisal & Taxation,Senior Real Property Appraiser,46108,100554,0,12424.50,Calendar,144708
3,2016,1,Public Protection,POL,Police,911,Police Officers' Association,Police Services,Sergeant 3,33369,140164,52754,13043.87,Fiscal,242323
4,2013,2,"Public Works, Transportation & Commerce",HHP,PUC Hetch Hetchy,21,"Prof & Tech Engineers - Miscellaneous, Local 21",Information Systems,IS Engineer-Journey,28684,58813,0,7655.28,Calendar,82106

In [46]:
data.shape

(287836, 15)

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 287836 entries, 0 to 287835
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Year                287836 non-null  int64
 1   OGC                 287836 non-null  int64
 2   OG                  287836 non-null  object
 3   DC                  287836 non-null  object
 4   Dept                287836 non-null  object
 5   UC                  287836 non-null  int64
 6   Union               287800 non-null  object
 7   JF                  287798 non-null  object
 8   Job                 287836 non-null  object
 9   EI                  287836 non-null  int64
 10  Salaries            287836 non-null  int64
 11  Overtime            287836 non-null  int64
 12  H/D                 287836 non-null  float64
 13  YT                  287836 non-null  object
 14  Total_Compensation  287836 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 32.9+ MB

In [48]:
data.columns

Index(['Year', 'OGC', 'OG', 'DC', 'Dept', 'UC', 'Union', 'JF', 'Job', 'EI',
       'Salaries', 'Overtime', 'H/D', 'YT', 'Total_Compensation'],
      dtype='object')

In [49]:
data.describe()

,Year,OGC,UC,EI,Salaries,Overtime,H/D,Total_Compensation
count,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000,287836.000000
mean,2014.250104,2.976007,490.540186,26913.060020,63262.713139,4401.037115,8932.876472,97990.329882
std,1.016282,1.575586,333.238723,15539.719696,44638.657748,11079.137749,4894.072024,67750.020573
min,2013.000000,1.000000,1.000000,1.000000,-68771.000000,-12308.000000,-2940.470000,-74082.000000
25%,2013.000000,2.000000,236.000000,13434.000000,23406.000000,0.000000,4358.347500,35977.000000
50%,2014.000000,2.000000,535.000000,27013.000000,62504.500000,0.000000,11982.035000,98033.000000
75%,2015.000000,4.000000,790.000000,40397.250000,93000.250000,2738.000000,12801.790000,142138.250000
max,2016.000000,7.000000,990.000000,53794.000000,515101.000000,227313.000000,21872.800000,653498.000000

## Data Cleaning & Data Preprocessing & Data Visualization:

In [50]:
# check the Missing Values:

data.isnull().sum()

Year                   0
OGC                    0
OG                     0
DC                     0
Dept                   0
UC                     0
Union                 36
JF                    38
Job                    0
EI                     0
Salaries               0
Overtime               0
H/D                    0
YT                     0
Total_Compensation     0
dtype: int64

In [51]:
data.drop(['Union', 'JF'], axis=1, inplace=True)

In [52]:
data.isnull().sum()

Year                  0
OGC                   0
OG                    0
DC                    0
Dept                  0
UC                    0
Job                   0
EI                    0
Salaries              0
Overtime              0
H/D                   0
YT                    0
Total_Compensation    0
dtype: int64

In [53]:
# Drop columns that are not relevant for modeling

data.drop(['OGC', 'OG', 'DC', 'Dept', 'UC', 'Job', 'EI',], axis=1, inplace=True)

In [54]:
data.head()

   Year  Salaries  Overtime       H/D        YT  Total_Compensation
0  2015     12196         0      0.00  Calendar               16158
1  2013     74639      2820  12703.31    Fiscal              115784
2  2015    100554         0  12424.50  Calendar              144708
3  2016    140164     52754  13043.87    Fiscal              242323
4  2013     58813         0   7655.28  Calendar               82106

In [55]:
# Encode categorical variables (e.g., Year Type)

data = pd.get_dummies(data, columns=["YT"], drop_first=True)

In [57]:
data['YT_Fiscal'] = data['YT_Fiscal'].astype(int)

In [58]:
data.head()

   Year  Salaries  Overtime       H/D  Total_Compensation  YT_Fiscal
0  2015     12196         0      0.00               16158          0
1  2013     74639      2820  12703.31              115784          1
2  2015    100554         0  12424.50              144708          0
3  2016    140164     52754  13043.87              242323          1
4  2013     58813         0   7655.28               82106          0

In [59]:
# Separate features (X) and target variable (y)

X = data.drop('Total_Compensation', axis=1)
y = data['Total_Compensation']

## Split the data into training and testing sets:

In [60]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [61]:
X_train

        Year  Salaries  Overtime          H/D  YT_Fiscal
245781  2013     31799        89   6599.99061          0
255286  2015      1997         0    868.09000          1
243202  2014      7303      1729   2422.57000          0
219622  2013     68189     37218  13815.05000          0
260584  2016     68495     10281  12332.01000          1
...      ...       ...       ...          ...        ...
119879  2014     81025      4981  11424.53550          0
259178  2013    103012         0   6400.89000          1
131932  2014     19722        74   4713.18000          1
146867  2014     44676         0  10682.46000          0
121958  2014     84353         0  13054.94000          0

[230268 rows x 5 columns]

## Apply Linear regression model on train set:

In [62]:
# Model Building

from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model

LinearRegression()

In [63]:
lr_model.fit(X_train, y_train)

LinearRegression()

## Perform Prediction on the X_test:

In [65]:
# Make predictions
y_pred = lr_model.predict(X_test)
y_pred

array([116184.52948995,  61702.41807542,  86269.06517963, ...,
        95688.43470696,  46077.97925335,  17170.43035272])

## Compare y_pred & y_test to get the accuracy of the models:

In [66]:
# Evaluate model performance

from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print(f"R-squared value: {r2:.3f}")

R-squared value: 0.987

In [67]:
# Estimating total compensation for each employee

estimated_total_compensation = lr_model.predict(X)
data['Estimated_Total_Compensation'] = estimated_total_compensation

In [69]:
data.head()

,Year,Salaries,Overtime,H/D,Total_Compensation,YT_Fiscal,Estimated_Total_Compensation
0,2015,12196,0,0.00,16158,0,16565.166126
1,2013,74639,2820,12703.31,115784,1,114801.792532
2,2015,100554,0,12424.50,144708,0,145422.999143
3,2016,140164,52754,13043.87,242323,1,260280.954693
4,2013,58813,0,7655.28,82106,0,85585.550357

In [70]:
# Check the estimated total compensation for each employee

print(data[['Salaries', 'Overtime', 'H/D', 'Estimated_Total_Compensation']].head())

   Salaries  Overtime       H/D  Estimated_Total_Compensation
0     12196         0      0.00                  16565.166126
1     74639      2820  12703.31                 114801.792532
2    100554         0  12424.50                 145422.999143
3    140164     52754  13043.87                 260280.954693
4     58813         0   7655.28                  85585.550357